<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/blue.png">
    <link rel="stylesheet" href="./css/all.css">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Weather forecast site built using Node.js and CSS">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content=”/img/blue.png” />
</head>
{{>header}}
<body>


<div class="main-title title">About BlueSky
    <hr class="line">
</div>
<div class="outer">
    <div class="sub-title">How BlueSky Was Created:</div>
    <div class="center">
        <img src="/img/astro-dev.png" alt="Astro Dev" class="main-image">
        <div class="main-section">
            <p class="content">BlueSky was created by Isa Ali who often goes by astro_dev online. It is my first attempt
                at
                working with Node.js and building an app, and it greatly helped me learn how to use JSON and server
                fetching.
            </p>
            <p>
                Blue sky works by taking the location input and sending it to a geolocation API which determines the
                area
                you searched for and returns the latitude and longitude.
            </p>
            <p>
                Then it sends that data to a weather API and
                retrieves a JSON text file with the most recent weather data for that region.
                After that I just have to style and display the data and then you have a working weather site. I hope
                this inspires other people to create a weather site as a learning experience, and you can use my site as an example.
            </p>
        </div>
    </div>

    <h1 class="sub-title">View The Source Code:</h1>
    <div class="center">

        <div class="main-section">
            <p id="paragraph2">If you want to take a look at the code for yourself, or help improve BlueSky by submitting a pull request
                with your changes you can check out the Github
                Repository here.</p>
            <a target="_blank" href="https://github.com/astroDev18/BlueSky">
                <div class="size img-size"><i class="fab fa-github-square fa-9x" ></i><img
                        src="https://github-readme-stats.vercel.app/api/pin/?username=astroDev18&repo=BlueSky&show_owner=true"
                        alt="Github-Repo" class="github-image" id="git"></div>
            </a>
        </div>
    </div>
</div>

</body>
{{>footer}}
</html>