<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
</div>

{{>footer}}
</body>
