<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<body>
<div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
</div>
</body>


    {{>footer}}
</body>

