<h1>{{ footer }}</h1>

<div class="footer">
    <p>Created by Isa Ali. You can find me on:</p>
    <div class="links">
        <a target="_blank" href="https://github.com/astroDev18">
            <i class="fab fa-github-square fa-3x" id="github"></i>
        </a>
        <a target="_blank" href="https://discord.gg/Nb39gkVny5">
            <i class="fab fa-discord fa-3x" id="discord"></i>
        </a>

        <a target="_blank" href="mailto:isajaffarali@gmail.com">
            <i class="fas fa-envelope-square fa-3x" id="email"></i>
        </a>
    </div>
</div>