<!--<h1>{{ title }}</h1>-->

<body>
<header>
    <div id="logo-container">
            <img class="logo" src="/img/blue.png" alt="logo">
            <h1 id="logo-text"><span id="color2">Blue</span><span id="color">Sky</span></h1>
    </div>
    <nav>
        <ul class="nav__links">
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>
</body>