<!--<h1>{{ title }}</h1>-->

<body>
<header>
    <div id="logo-container">
            <img class="logo" src="/img/blue.png" alt="logo">
            <h1 id="logo-text"><span id="color2">Blue</span><span id="color">Sky</span></h1>
    </div>
    <nav>
        <ul class="nav__links">
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
    <!--    <a class="cta" href="#"><button>Blue Sky</button></a>-->
</header>
</body>

<!--<header class="nav">-->
<!--    <div class="logo">-->
<!--            <img src="/img/snowfall.png" alt="snowfall" id="snowfall">-->
<!--            <h1>Blue Sky</h1>-->
<!--    </div>-->
<!--    <ul class="menu">-->
<!--        <a href="/">Weather</a>-->
<!--        <a href="/about">About</a>-->
<!--        <a href="/help">Help</a>-->
<!--    </ul>-->
<!--</header>-->