body {
    color: #333333;
    font-family: arial;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}









.main-content {
    flex-grow: 1;
}

footer {
    background-color: aqua;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}